<html>
   <head>
   <head>
     <link rel="icon" type="image/png" sizes="16x16" href="../logo.png">
     <link rel="stylesheet" href="/public/css/styles.css">
     <script src="/public/functions.js"></script>
 </head>

   </head>
       <body>
         {{> header}}
         <div class="container" role="main">
         {{{body}}}
         </div>
         {{> footer}}
       </body>
</html>