
<body>
<br>
<br>
<br>
<div class="textBox">

    <h2>Delete document</h2><br><br>
     <form class="search" action="/kinetics/list/delete" method="GET">
            <input class="bar" type="text" placeholder="Delete document..." name="resName" style="font-size: 12`pt; height: 30px; width:380px; ">
            <input type="submit" style="font-size: 12`pt; height: 40px; width:80px;">
        </form>
</div>
</body>
</html>