
<body>
<br>
<br>
<br>
<div class="textBox">
    <h4>Search document</h4><br><br>
    <form class="search" action="/kinetics/list/search" method="GET">
        <input class="bar" type="text" placeholder="Search document..." name="resName" style="font-size: 12`pt; height: 30px; width:380px; ">
        <input type="submit">
    </form>
    </div>
</body>
